.single-opportunity {
    width: 33.33%;
    float: left;
}

.opportunity-icon {
    width: 75px;
    float: left;
    background: #89cddf;
    text-align: center;
    height: 75px;
    line-height: 70px;
    border-radius: 50%;
    border: 5px solid #ededed;
    transition: .4s
}

.opportunity {
    overflow: hidden;
    padding-top: 40px;
}

.opportunity-text {
    padding-left: 95px;
    position: relative;
    top: 10px;
}

.opportunity-text h4 {
    color: #444444;
    font-weight: 600
}

.about-content {
    padding-bottom: 20px;
    border-bottom: 1px dashed #e5e5e5;
    color: #666666;
    padding-top: 90px;
}

.about-content p {
    margin-bottom: 20px;
}

.section-title:before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 60px;
    height: 4px;
    border-top: 1px dashed #b0deea;
    border-bottom: 1px dashed #b0deea;
    left: 0;
}

.single-opportunity:hover .opportunity-icon {
    background: #293a4c;
}